* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard {
  border: 1px solid black;
  min-width: 300px;
  min-height: 300px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.tile {
  border: 1px solid red;
}
